/* Start Promotion Style */

.promotion {
    padding: 60px 0;
    color: $secColor;
    @media #{$maxMedium} {
        text-align: center;
    }
    &-words {
        h2 {
            font-size: 28px;
        }
    }
    &-btn {
        @extend %pageBtn;
        text-align: right;
        @media #{$maxMedium} {
            margin: 20px 0;
            text-align: center;
        }
        a {
            background-color: $primColor;
        }
    }
}


/* Start vision */

.vision-section {
    position: relative;
    background-image: url("../img/vision.jpg");
    background-size: cover;
    &:after {
        content: "";
        @extend %overlay;
        width: 50%;
        background-color: rgba($primColor, 0.7);
        @media #{$maxMedium} {
            width: 100%;
        }
    }
    .vision-section-content {
        position: relative;
        z-index: 1;
        padding: 40px 0 0;
        h2 {
            color: #fff;
            margin: 20px 0 40px 0;
        }
        .vision-section-text {
            margin: 40px 0;
            .vision-section-icon {
                color: $secColor;
            }
            .vision-section-description {
                padding: 0 40px 0 20px;
                color: $fontColor;
                .vision-section-title {
                    font-weight: bold;
                }
                .vision-section-context {
                    line-height: 1.6;
                    font-size: 17px;
                }
            }
        }
    }
}