// Define Colors
$primColor: #333;
$secColor: #F57F27;
$fontColor: #DCDDDF;

/************************************/

// Main Media Query Sizes
$maxMobile: "(max-width: 575px)";
$maxSmall: "(max-width: 767px)";
$maxMedium: "(max-width: 991px)";
$minSmall: "(min-width: 576px)";
$minMedium: "(min-width: 768px)";
$minLarge: "(min-width: 992px)";